node_modules/
dist/
.DS_Store
*.jks

# Flutter — output di build
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
/build/
*.g.dart

# Piattaforme non usate
/ios/
/linux/
/macos/
/windows/
/web/
/.idea/
*.iml
.metadata
